:root {
  font-size: 10px;
}
body::-webkit-scrollbar {
  width: 5px;
  background: #192057;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(193, 11, 111, 0.424);
  outline: 1px solid #192057;
}
// .........Variable.......
$cyan: #00e4ff;
#CryptoAirdropApp {
  user-select: none;
  // global styles..............
  .sticky-top {
    z-index: 50;
  }
  img {
    pointer-events: none;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }
  button,
  a,
  span,
  p,
  input,
  textarea {
    font-size: 1.6rem;
  }
  p {
    color: rgba(255, 255, 255, 0.85);
  }
  * {
    color: #fff;
  }
  #nav.navbar {
    background: #230344 !important;
    border-bottom: 2px solid rgba(115, 80, 254, 0.4);
    a,
    button {
      font-size: 1.3rem;
    }
    @media (max-width: 992px) {
      .mobile_design_navbar {
        position: absolute;
        display: block !important;
        width: 100%;
        left: 0px;
        background: #192057;
        text-align: center;
        padding: 3rem;
        a {
          display: block;
        }
      }
    }
  }
  // .........Global Components............

  .section_title_design {
    display: inline-block;
    .design_item {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: var(--design-bg);
      display: inline-block;
    }
  }

  // ...........Page Components............

  #homeComponent {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #230344;
    .left_box {
      max-width: 50rem;
      @media (max-width: 992px) {
        max-width: 100%;
      }
    }
    @media (max-width: 992px) {
      .right_box {
        width: 100%;
        margin: auto;
        text-align: center;
        img {
          max-height: 400px;
          width: auto !important;
        }
        @media (max-width: 768px) {
          img {
            max-height: 250px;
          }
        }
      }
    }
  }
  #AboutAndServices {
    background: linear-gradient(-33deg, #3f0959, #140241);
  }
  #AboutComponent {
    min-height: 80vh;
    background: linear-gradient(-33deg, #3f0959, #140241);
    .trusted_card {
      box-shadow: 4px 5px 10px rgba(164, 22, 253, 0.884);
    }
    .left_right_side_row1 {
      .left_box {
        max-width: 50rem;
        img {
          object-fit: contain;
        }
      }
    }
  }
}
#Features {
  min-height: 70vh;
  background: linear-gradient(-33deg, #3f0959, #140241);
}
#RewardBnb {
  background: linear-gradient(-33deg, #3f0959, #140241);
}
.watch_box_wrapper {
  width: 100%;
  height: 35rem;
  background: #fff url("../../assets/images/bg-4.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     bottom: -2rem;
  //     right: -2rem;
  //     border: 2px solid #fff;
  //     width: 100%;
  //     height: 100%;
  //     border-radius: 25px;
  //     z-index: -3;
  //   }
  button {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }
}
#watchModalView .modal-body {
  height: 40rem;
}

#ServicesComponent {
  background: linear-gradient(-33deg, #3f0959, #140241);
  .services_card {
    background: transparent !important;
    border: 1px solid #08b1b1;
    border-radius: 0px 30px 0px;
    .card-body {
      background: transparent !important;
    }
  }
}

#RoadMap {
  background: #010111 url("../../assets/images/bg-roadmap.png") center / cover
    no-repeat;
  min-height: 80vh;

  #roadMap_line_wrapper {
    height: 50rem;
    // border: solid red;
    position: relative;
    p {
      font-size: 1.3rem !important;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0px;
      width: 100%;
      display: block;
      height: 4px;
      background: $cyan;
      box-shadow: 5px 5px 105px $cyan;
      transform: translateY(-50%);
    }
    .top_line_cards {
      position: absolute;
      bottom: 50%;
      // transform: translateY(-50%);
      left: 2%;
      width: calc(100% - 4%);
      // border: solid red;
      .line_cards {
        position: absolute;
        bottom: 0;
        width: 18rem;
        min-height: 22rem;
        .line_duration {
          position: absolute;
          bottom: -5.5rem;
          left: 50%;
          transform: translateX(-50%);
        }
        &::after {
          content: "";
          position: absolute;
          width: 2rem;
          height: 2rem;
          bottom: -1.2rem;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 50%;
          border: 2px solid $cyan;
          background: #010111;
          z-index: 22;
        }
        &::before {
          content: "";
          position: absolute;
          width: 0.8rem;
          height: 0.8rem;
          bottom: -0.6rem;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 50%;
          z-index: 23;
          background: $cyan;
        }
        .line_with_icons {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          $bottom_up_size: 5rem;
          &::after {
            content: "";
            position: absolute;
            left: 50%;
            width: 0.1rem;
            height: $bottom_up_size;
            background: $cyan;
            bottom: 0;
          }
          .icon_wrapper {
            width: 5rem;
            height: 5rem;
            border: 2px solid $cyan;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: $bottom_up_size;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
          }
          .line_content_wrapper {
            position: absolute;
            width: 100%;
            bottom: 11rem;
            text-align: center;
          }
        }
        &:nth-of-type(2) {
          left: calc(20% + 4%);
        }
        &:nth-of-type(3) {
          left: calc(40% + 4%);
        }
        &:nth-of-type(4) {
          left: calc(60% + 4%);
        }
        &:nth-of-type(5) {
          left: calc(80% + 4%);
        }

        //
        .line_article_list {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: -4.5rem;
            width: 50%;
            height: 0.05rem;
            background: $cyan;
            left: -10%;
            opacity: 0.2;
          }
          &::before {
            width: 0.05rem;
            height: calc(100% + 4.5rem);
            background: $cyan;
            opacity: 0.2;
            position: absolute;
            left: -10%;
            content: "";
          }
          li {
            position: relative;
            margin: 0;
            padding: 0;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: calc(-10% - 0.2rem);
              width: 0.5rem;
              height: 0.5rem;
              border-radius: 50%;
              background: $cyan;
            }
          }
        }
      }
    }
  }
  #roadMap_mobile_line {
    height: 100rem;
    // border: solid red;
    position: relative;
    @media (max-width: 620px) {
      zoom: 0.8;
      @media (max-width: 500px) {
        zoom: 0.6;
        @media (max-width: 380px) {
          zoom: 0.5;
        }
      }
    }
    #line_draw {
      position: absolute;
      left: 50%;
      top: 2rem;
      transform: translateX(-50%);
      width: 0.4rem;
      height: calc(100% - 20rem);
      background: #08b1b1;
    }
    .line_content_wrapper_left {
      position: absolute;
      width: 60rem;
      height: 100%;
      // border: solid red;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;

      .line_content {
        position: absolute;
        left: 0;
        top: 0.6rem;
        text-align: right;
        &::after {
          content: "";
          position: absolute;
          top: 1.4rem;
          width: 4.5rem;
          height: 0.4rem;
          background: #08b1b1;
          left: 100%;
        }
        &::before {
          content: "";
          position: absolute;
          width: 1.5rem;
          height: 1.5rem;
          border: solid #08b1b1;
          border-radius: 50%;
          top: 1rem;
          left: 116.5%;
          background: #010111;
          z-index: 11;
        }
        h4 {
          display: inline-block;
          padding: 0.5rem 2rem;
          background: #08b1b1;
          color: white;
          border-radius: 1rem;
          margin-bottom: 1rem;
        }
        ul {
          width: 25rem;
          background: #230344;
          color: white;
          padding: 1rem 1.5rem;
          border-radius: 1rem;
          text-align: left;
          li {
            display: flex;
            p {
              margin-bottom: 0.3rem;
            }
            i {
              font-size: 1.6rem;
              display: inline-block;
              margin-right: 0.5rem;
              margin-top: 0.5rem;
            }
          }
        }
        &:nth-child(1) {
          top: 10rem;
        }
        &:nth-child(2) {
          top: 30rem;
        }
        &:nth-child(3) {
          top: 50rem;
        }
        &:nth-child(4) {
          top: 70rem;
        }
        &:nth-child(5) {
          top: 90rem;
        }
        &:nth-child(6) {
          top: 100rem;
        }
      }
    }
    .line_content_wrapper_right {
      position: absolute;
      width: 60rem;
      height: 100%;
      // border: solid red;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      .line_content {
        position: absolute;
        right: 0;
        top: 0.6rem;
        &::after {
          content: "";
          position: absolute;
          top: 1.4rem;
          width: 4.5rem;
          height: 0.4rem;
          background: #08b1b1;
          right: 100%;
        }
        &::before {
          content: "";
          position: absolute;
          width: 1.5rem;
          height: 1.5rem;
          border: solid #08b1b1;
          border-radius: 50%;
          top: 1rem;
          right: 116.5%;
          background: #010111;
          z-index: 11;
        }
        h4 {
          display: inline-block;
          padding: 0.5rem 2rem;
          background: #08b1b1;
          color: white;
          border-radius: 1rem;
          margin-bottom: 1rem;
        }
        ul {
          width: 25rem;
          background: #230344;
          color: white;
          padding: 1rem 1.5rem;
          border-radius: 1rem;
          li {
            display: flex;
            p {
              margin-bottom: 0.3rem;
            }
            i {
              font-size: 1.6rem;
              display: inline-block;
              margin-right: 0.5rem;
              margin-top: 0.5rem;
            }
          }
        }
        &:nth-child(2) {
          top: 20rem;
        }
        &:nth-child(3) {
          top: 40rem;
        }
        &:nth-child(4) {
          top: 60rem;
        }
        &:nth-child(5) {
          top: 80rem;
        }
        &:nth-child(6) {
          top: 100rem;
        }
      }
    }
  }
}

#LeftSideNavbar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background: #0d003b;
  z-index: 10;
  left: 2rem;
  box-shadow: 1px 1px 3px rgba(164, 22, 253, 0.884);
  .fab {
    font-size: 2rem;
    color: #fff;
    opacity: 0.6;
  }
}

#ico_and_faq {
  background: #170446;
}
#IcoUpdate {
  background: #170446;
  .ico_wrapper {
    background: #1d66f6;
    position: relative;
    z-index: 2;
    &::after {
      content: "";
      background: url("../../assets/images/wave-shap.png") center/cover
        no-repeat;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      user-select: none;
      z-index: -1;
    }
    .input_custom_group {
      max-width: 40rem;
      margin: auto;
      input {
        background: transparent;
        padding: 1.5rem;
        color: #fff;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        border-bottom: 1px solid white !important;
        border-radius: 0px;
        &::placeholder {
          color: #fff;
        }
      }
      button {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
      }
    }
  }
}

#frequently_ask_question {
  background: #170446;
  .accordion * {
    background: transparent;
  }
  .accordion-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  #TokenSaleEnd {
    background: linear-gradient(to right, #21d397 0%, #7450fe 100%);
    .sale_duration_wrapper {
      .sale_item {
        text-align: center;
        span:nth-child(1) {
          width: 7rem;
          height: 7rem;
          background: #190345;
          font-size: 2.5rem;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
#IcoDistribution {
  background: #170446;
  .more_token_list {
    li {
      border: 1px solid #25cbd3;
    }
  }
}

#ContactUs {
  background: #170446 url("../../assets/images/pattern.png") no-repeat
    center/cover;
  #ContactSendingForm {
    .input_box_wrapper * {
      background: transparent;
    }
    input,
    textarea {
      border: none;
      border-radius: 0px;
      border-bottom: 1px solid rgba(37, 202, 211, 0.3);
      outline: none;
      box-shadow: none;
      padding: 2rem;
      color: #fff;
      &:focus {
        border-bottom: 1px solid #25cbd3;
      }
      &::placeholder {
        color: #fff;
      }
    }
    textarea {
      height: 15rem;
    }
  }
}

#Footer {
  background: #192057;
  p,
  span {
    font-size: 1.3rem;
  }
  .anchor_color {
    color: rgba(255, 255, 255, 0.7);
  }
}
