:root {
  font-size: 10px;
}
#CryptoAirdropApp {
  // global styles..............
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  button,
  a,
  span,
  p {
    font-size: 1.6rem;
  }
  * {
    color: #fff;
  }

  // .........Global Components............

  .section_title_design {
    display: inline-block;
    .design_item {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: var(--design-bg);
      display: inline-block;
    }
  }

  // ...........Page Components............

  #homeComponent {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #230344;
    .left_box {
      max-width: 50rem;
      @media (max-width: 992px) {
        max-width: 100%;
      }
    }
  }
  #AboutAndServices{
      background: linear-gradient(-33deg, #3f0959, #140241);
  }
  #AboutComponent {
    min-height: 80vh;
    .trusted_card {
      box-shadow: 4px 5px 10px rgba(164, 22, 253, 0.884);
    }
    .left_right_side_row1 {
      .left_box {
        max-width: 50rem;
        img {
          object-fit: contain;
        }
      }
    }
    .watch_box_wrapper {
      width: 100%;
      height: 35rem;
      background:#fff url("../../assets/images/bg-4.jpg") center/cover no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
    //   &::before {
    //     content: "";
    //     position: absolute;
    //     bottom: -2rem;
    //     right: -2rem;
    //     border: 2px solid #fff;
    //     width: 100%;
    //     height: 100%;
    //     border-radius: 25px;
    //     z-index: -3;
    //   }
      button {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
      }
      #watchModalView .modal-body {
        height: 40rem;
      }
    }
  }
}
